In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex2 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

Setup Complete

In [4]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data") #REFERENCE
# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)                              #FECTH

# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")  #REFERENCE
# API request - fetch the table
table = client.get_table(table_ref)                  #FETCH

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=5).to_dataframe()

Using Kaggle's public dataset BigQuery integration.

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:19: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.91284,2022-04-27 23:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Płock, ul. Reja",Płock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,µg/m³,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elbląg, ul. Bażyńskiego",Elbląg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,µg/m³,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastów, ul. Pułaskiego",Piastów,PL,bc,0.51000,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)

In [16]:
print(dataset.description)
print('\nTables:')
print([table.table_id for table in list(client.list_tables(dataset))])
print('\nSchema:\n',table.schema)

OpenAQ is an open-source project to surface live, real-time air quality data from around the world. Their “mission is to enable previously impossible science, impact policy and empower the public to fight air pollution.” The data includes air quality measurements from 5490 locations in 47 countries.

Scientists, researchers, developers, and citizens can use this data to understand the quality of air near them currently. The dataset only includes the most current measurement available for the location (no historical data).

Dataset Source: openaq.org

Category: Science

Use: This dataset is publicly available for anyone to use under the following terms provided by the Dataset Source — https://openaq.org/#/about?_k=s3aspo — and is provided "AS IS" without any warranty, express or implied, from Google. Google disclaims all liability for any damages, direct or indirect, resulting from the use of the dataset.

Update Frequency: Hourly

Tables:
['global_air_quality']

Schema:
 [SchemaField('location', 'STRING', 'NULLABLE', None, (), None), SchemaField('city', 'STRING', 'NULLABLE', None, (), None), SchemaField('country', 'STRING', 'NULLABLE', None, (), None), SchemaField('pollutant', 'STRING', 'NULLABLE', None, (), None), SchemaField('value', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', None, (), None), SchemaField('unit', 'STRING', 'NULLABLE', None, (), None), SchemaField('source_name', 'STRING', 'NULLABLE', None, (), None), SchemaField('latitude', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('longitude', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('averaged_over_in_hours', 'FLOAT', 'NULLABLE', None, (), None), SchemaField('location_geom', 'GEOGRAPHY', 'NULLABLE', None, (), None)]

# 1. Select Excercise

### 1. Which countries have reported pollution levels in units of "ppm"? In the code cell below, set first_query to an SQL query that pulls the appropriate entries from the country column.

In case it's useful to see an example query, here's some code from the tutorial:
```
query = """
        SELECT city
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """
```

In [18]:
query_1 = """ Select country
from `bigquery-public-data.openaq.global_air_quality`
where unit="ppm" """

In [21]:
# Query to select countries with units of "ppm"
query = query_1
# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
first_results = query_job.to_dataframe()

# View top few rows of results
print(query_results.head())

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

  country
0      AR
1      IL
2      IL
3      AR
4      AR

In [22]:
q_1.check()

You got the right countries. Nice job! Some countries showed up many times in the results. To get each country only once you can run `SELECT DISTINCT country ...`. The DISTINCT keyword ensures each column shows up once, which you'll want in some cases.

Correct

### 2. Which pollution levels were reported to be exactly 0?

* Set zero_pollution_query to select all columns of the rows where the value column is 0.
* Set zero_pollution_results to a pandas DataFrame containing the query results.

In [25]:
query_2 = """ Select *
from `bigquery-public-data.openaq.global_air_quality`
where value=0 """

In [26]:
# Query to select countries with units of "ppm"
query = query_2
# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
zero_pollution_results = query_job.to_dataframe()

# View top few rows of results
print(zero_pollution_results.head())
# Check your answer
q_2.check()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

                       location      city country pollutant  value  \
0     Zielonka, Bory Tucholskie  Zielonka      PL        bc    0.0
1    Toruń, ul. Przy Kaszowniku     Toruń      PL        bc    0.0
2           Kielce, ul. Targowa    Kielce      PL        bc    0.0
3     Zielonka, Bory Tucholskie  Zielonka      PL        bc    0.0
4  Koszalin, ul. Armii Krajowej  Koszalin      PL        bc    0.0

                  timestamp   unit source_name  latitude  longitude  \
0 2022-04-29 14:00:00+00:00  µg/m³        GIOS       1.0  53.662136
1 2022-04-19 04:00:00+00:00  µg/m³        GIOS       1.0  53.017628
2 2022-05-07 17:00:00+00:00  µg/m³        GIOS       1.0  50.878998
3 2022-05-19 14:00:00+00:00  µg/m³        GIOS       1.0  53.662136
4 2022-05-12 20:00:00+00:00  µg/m³        GIOS       1.0  54.193986

   averaged_over_in_hours       location_geom
0               17.933986  POINT(53.662136 1)
1               18.612808  POINT(53.017628 1)
2               20.633692  POINT(50.878998 1)
3               17.933986  POINT(53.662136 1)
4               16.172544  POINT(54.193986 1)

Incorrect: You still need to define the following variables: `zero_pollution_query`

# 2. Groupby Excercise

In [27]:
# Construct a reference to the "hacker_news" dataset
dataset_hack_ref = client.dataset("hacker_news", project="bigquery-public-data")
# API request - fetch the dataset
dataset_hack = client.get_dataset(dataset_hack_ref)

# Construct a reference to the "comments" table
table_com_ref = dataset_hack_ref.table("comments")
# API request - fetch the table
table_com = client.get_table(table_com_ref)

# Preview the first five lines of the "comments" table
df_head_table_com = client.list_rows(table_com, max_results=20).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:12: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  if sys.path[0] == "":

In [28]:
df_head_table_com

,id,by,author,time,time_ts,text,parent,deleted,dead,ranking
0,2701393,5l,5l,1309184881,2011-06-27 14:28:01+00:00,And the glazier who fixed all the broken windo...,2701243,None,None,0
1,5811403,99,99,1370234048,2013-06-03 04:34:08+00:00,Does canada have the equivalent of H1B/Green c...,5804452,None,None,0
2,21623,AF,AF,1178992400,2007-05-12 17:53:20+00:00,"Speaking of Rails, there are other options in ...",21611,None,None,0
3,10159727,EA,EA,1441206574,2015-09-02 15:09:34+00:00,Humans and large livestock (and maybe even pet...,10159396,None,None,0
4,2988424,Iv,Iv,1315853580,2011-09-12 18:53:00+00:00,I must say I reacted in the same way when I re...,2988179,None,None,0
5,3867418,Iv,Iv,1334921984,2012-04-20 11:39:44+00:00,&#62; There's a whole class of 'mom &#38; pop'...,3867404,None,None,0
6,3925617,Iv,Iv,1336076765,2012-05-03 20:26:05+00:00,I'm also in this ballpark (300-600€ / day) whi...,3924840,None,None,0
7,3107534,Iv,Iv,1318520044,2011-10-13 15:34:04+00:00,how do you run unity in non-accelerated mode ?...,3107241,None,None,0
8,8409259,Iv,Iv,1412421647,2014-10-04 11:20:47+00:00,Polio is not exterminated even if it is absent...,8409226,None,None,0
9,2855741,Jd,Jd,1312690646,2011-08-07 04:17:26+00:00,"Yep, I didn't find Rescuetime very helpful. I ...",2855343,None,None,0
10,50570,Jd,Jd,1189011845,2007-09-05 17:04:05+00:00,It was a risky joke. Looks like I am losing s...,50556,None,None,0
11,2600618,Jd,Jd,1306794854,2011-05-30 22:34:14+00:00,"Looks good, there are a bunch of questions he ...",2600609,None,None,0
12,2600423,Jd,Jd,1306789205,2011-05-30 21:00:05+00:00,"A bit, but so much for me ended up being gener...",2599323,None,None,0
13,1983932,Jd,Jd,1291831945,2010-12-08 18:12:25+00:00,I also agree with your rejoinder and upvoted i...,1979965,None,None,0
14,5824036,Jd,Jd,1370414140,2013-06-05 06:35:40+00:00,"Sadly doesn't provide any filtering on tags, w...",5824021,None,None,0
15,73111,Jd,Jd,1193467001,2007-10-27 06:36:41+00:00,Feferman usefully explores the presuppositions...,73107,None,None,0
16,4569290,Jd,Jd,1348562302,2012-09-25 08:38:22+00:00,Here are my take aways:<p>(1) Say that you can...,4569255,None,None,0
17,319968,KB,KB,1222805047,2008-09-30 20:04:07+00:00,"You may find a few here: <a href=""http://web20...",319943,None,None,0
18,9699296,M8,M8,1434026580,2015-06-11 12:43:00+00:00,For instance?,9698927,None,None,0
19,4895850,Mz,Mz,1355082935,2012-12-09 19:55:35+00:00,"So, basically, you think I have Munchausen the...",4895812,None,None,0

In [39]:
def execute_query(query):    
    # Set up the query (cancel the query if it would use too much of 
    # your quota, with the limit set to 10 GB)
    safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
    query_job = client.query(query, job_config=safe_config)

    # API request - run the query, and return a pandas DataFrame
    return query_job.to_dataframe()

### 2.1 Prolific commenters
Hacker News would like to send awards to everyone who has written more than 10,000 posts. Write a query that returns all authors with more than 10,000 posts as well as their post counts. Call the column with post counts NumPosts.

In [34]:
query_1 = """ Select author, count(id) as NumPosts
from `bigquery-public-data.hacker_news.comments`
group by author 
having NumPosts > 10000"""
execute_query(query_1)

In [37]:
df_results

          author  NumPosts
0          DanBC     12902
1          sp332     10882
2         davidw     10764
3        rayiner     11080
4        tptacek     33839
5       jacquesm     21107
6       jrockway     13626
7      anigbrowl     11395
8     stcredzero     10092
9            eru     10448
10       rbanffy     10557
11  dragonwriter     10723
12          None    227736

We use **Having** to filter information after the groupby is done. We also can filter results before the groupby using **where**

In [41]:
query_2 = """ Select author, count(id) as NumPosts
from `bigquery-public-data.hacker_news.comments`
where CHAR_LENGTH(text) > 100
group by author 
having NumPosts > 10000"""

df_result_2 = execute_query(query_2)

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

In [42]:
df_result_2

         author  NumPosts
0         DanBC     11460
1       tptacek     27188
2      jacquesm     16980
3      jrockway     10526
4  dragonwriter     10467

The remainded question is, Is posible to use **where** rahter than **having** to filter information after the **group by** command?

In [43]:
query_3 = """ Select * from 
(Select author, count(id) as NumPosts
from `bigquery-public-data.hacker_news.comments`
where CHAR_LENGTH(text) > 100
group by author) as table_tmp 
where NumPosts > 10000"""

df_result_3 = execute_query(query_3)
df_result_3

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

         author  NumPosts
0  dragonwriter     10467
1         DanBC     11460
2       tptacek     27188
3      jacquesm     16980
4      jrockway     10526